# Directorios de compilación
target/
*.jar
*.war
*.class

# Archivos de log
*.log

# Archivos de configuración de IDEs
.idea/
*.iml
*.hprof
*.project
*.classpath

# Archivos de configuración de Maven
maven-*.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Archivos temporales
*.tmp
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros archivos generados
*.local
*.env
*.properties

# Ignorar el archivo de keystore si es necesario
keystore.jks
